* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
}

.boxQuemSomos {
    background: rgb(31,34,41);
    background: linear-gradient(90deg, rgba(31,34,41,1) 34%, rgb(22, 20, 142) 100%);
    display: flex;
    flex-wrap: wrap;
    padding: 0 2%;
}

.boxQuemSomos>h1 {
    margin: 40px auto;
    color: white;
    font-size: 49px;
    position: relative;
}

.boxQuemSomos>h1::after{
    content: '';
    position: absolute;
    bottom: -2px;
    left: 4px;
    width: 30%;
    height: 5px;
    background-color: #fd3c3d;
}

.quemsomos {
    padding: 20px 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.img {
    width: 50%;
    height: auto;

}

.img img {
    display: block;
    max-width: 100%;
    width: 70%;
    height: 500px;
    border-radius: 8px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.info {
    width: 50%;
    color: white;
    padding: 20px 40px;
    margin-top: 80px;
}

.info h1 {
    padding: 10px 0;
    font-style: italic;
}

.info p {
    padding: 10px 0;
    line-height: 30px;
    font-size: 18px;
    color: #a9a9a9;
}


@media screen and (max-width: 768px) {
    .quemsomos {
        display: block;
    }

    .boxQuemSomos>h1 {
        margin: 50px auto;
        font-size: 39px;
    }

    .info p:nth-child(3){
        border-bottom: 1px solid #ccc;
        padding-bottom: 40px;
    }

    .img{
        width: 80%;
        margin: 0 auto;
        height: auto;
    }

    .img img{
        width: 90%;
        height: 400px;
    }

    .info{
        width: 80%;
        text-align: center;
        margin: 0 auto;

    }
}
