header {
    position: fixed;
    z-index: 999999;
    width: 100%;
    background: rgb(25,26,27);
    background: linear-gradient(38deg, rgb(0, 0, 0) 20%, rgba(69,83,208,1) 100%);
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2%;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.img {
    width: 50%;
}

.img img {
    max-width: 100%;
    width: 70px;
    padding: 10px 0;
    cursor: pointer;
}


.menuHeader nav ul {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.menuHeader li a{
    color: white;
    text-decoration: none;
    position: relative;
    cursor: pointer;
}

.menuHeader li a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: #ff3131;
    transition: width 0.4s;
}

.menuHeader li a:hover::after{
    width: 100%;
}

@media screen and (max-width: 890px){
    .menuHeader{
        flex: 1;
    }


}

@media screen and (max-width: 790px){
    .menuHeader{
        display: none;
    }
}
