*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

body,html{
    height: 100%;
}


.menuMobile{
    display: none;
    margin-top: 30px;
    margin-right: 10px;
}

.menuMobile svg{
    color: white;
    font-size: 28px;
    cursor: pointer;
}


 .itensMenu{
    padding: 10px 0;
    opacity: 1;
    position: absolute;
    width: 100%;
    height: auto;
    top: 100%;
    left: 0;
    backdrop-filter: blur(3px);
    background: rgba(17, 18, 17, 0.95);
    background: linear-gradient(34deg, rgba(60, 111, 213, 0.95) 0%, rgba(17,18,17,0.95) 95%);
    text-align: center;
    transition: 0.5s ease;
}

.itensMenu li{
    margin-top: 4px;
    padding: 10px 0;
}

.itensMenu a{
    color: white;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}

.itensMenu a:hover{
    color: #e05555;
    transition: 0.9s ease;
}

.hidden{
    position: absolute;
    right: -100px;
    opacity: 0;
    transition: 0.5s ease;
    transform: scale(0.7);
}

@media screen and (max-width: 790px){

    .menuMobile{
        display: block;
    }
}
